# Configuración de Servidor
PORT=8080
NODE_ENV=production

# Base de Datos Supabase PostgreSQL (Cadena de conexión Directa o Transaction Pooler)
# Ejemplo: postgres://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres
DATABASE_URL=postgres://usuario:password@db.supabase.co:5432/postgres

# URL del Frontend para CORS (Firebase Hosting o dominio de producción)
FRONTEND_URL=https://tu-proyecto.web.app
